* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Whitneybold';
    src: url('../font/whitneybold.otf');
    font-family: 'Helvetica Neue';
    src: url('../font/HelveticaNeueMedium.otf')
  }

/* Intestazione */

header {
    display:flex;
    justify-content: center;
    height: 75px;
    background-color: rgba(37,94,233,255);
    width: 100%;
}

button {
    align-self: center;
    margin: 10px;
    font-size: 15px;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.dark {
    background-color: rgb(31, 30, 30);
    color: white;
    font-size: 20px;
}

.light {
    font-size: 20px;
}

h1 {
    font-family: Helvetica;
    font-size: 60px;
    margin-top: 70px;
}

a {
    font-family: 'Helvetica Neue';
    color: white;
    margin: 30px;
    text-decoration: none;
}

p {
    font-style: 'Whitneybold';
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.nav-header {
    height: 50px; 
    align-self: center;
    display: flex;
    justify-content: flex-start
}

.laterale {
    width: 20%;
    height: 50px;
}

.dx {
    display:flex;
    flex-direction: row-reverse;
}

.centrale {
    width: calc(100% / 5 -60px);        
    height: 50px;
    justify-content: center;
}

/* jumbotron */

.jumbotron {
    background-image: url(../img/jumbo.png);
    height: 600px;
    display: flex;
    justify-content: center;
    border: none;
    background-size: cover;
}

.download-discord {
    height: 500px;
    align-self: center;
    width: 50%;
    color: white;
    text-align: center;
    width: 875px;
}

/* Sezioni */

.container-blue {
    height: 500px;
    width: 33%;
    align-self: center;        
}

.container-pink {
    height: 500px;
    width: 20%;    
    align-self: center;  
}

.sezione-grande {
    height: 1500px;
    display: flex;
    justify-content: center;
}

.greenbox {
    height: 1350px;
    width: 66%;
    align-self: center;
}

.dispari {
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pari {
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.light-blue {
    background-color: rgb(114, 160, 245);
    color: white;
}

/* Ultima section */

.ultima {
    background-color: rgb(31, 30, 30);
    height: 900px;
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

.red {
    height: 850px;
    width: 20%;
    margin-bottom: 30px;
    margin-top: 10px;
}

.aquamarine {
    height: 850px;
    width: 10%;
    border-color: white;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* pié di pagina*/

footer {
    height: 75px;
    width: 100%;
    background-color:rgb(31, 30, 30);
    margin-top: 2px;
    display:flex;
    justify-content: center;;
}

.container-pièdipagina {
    display: flex;
    justify-content: space-between;
    width: 66%;
    background-color: rgb(31, 30, 30);
    margin-top: 25px
}

.nav-pièdipagina {
    margin: 25%, 50%, 0, 50%;
    align-self: center;
}

#container-finale {
    border-style: none;
}